/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}
/* Global properties ======================================================== */
html {
	width:100%;
}
body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background:#f3f3f3;
	font-size:100%;
	color:#030303;
	/* min-width:1060px; */
	margin: 0;
    padding: 0;
    min-height: 100vh;
	display: flex;
    flex-direction: column;
}
.ic {
	border:0;
	float:right;
	background:#ffffff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.bg {
	width:100%;
	background:center 0 no-repeat;
}
.main {
	/* border: 1px solid red; */
	width: 100%;
	margin:0 auto;
	font-size:13px;
	line-height:24px;
}
.principal{
	/* border: 3px solid blue; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.principal_{
	border:4px double #498f06;
	border-radius: 5px;
	margin-bottom: 30px;
	width: 80%;
}
a {
	color:#7dba14;
	outline:none;
}
a:hover {
	text-decoration:none;
}
.col-1, .col-2 {
	float:left;
	width:222px;
}
.col-1 {
	margin-right:17px;
}
.column-1, .column-2 {
	float:left;
	width:284px;
}
.column-1 {
	margin-right:37px;
}
.wrapper {
	/* border: 1px solid red; */
	width:100%;
	overflow:hidden;
	/* padding: 0 30px 0 30px; */
}
.button-wrapper{
	/* border: 5px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons{
	/* border: 2px solid black; */
	width: 68%;
	display: flex;
	justify-content:space-around;
	align-items: center;
	margin-bottom: 40px;
}
.extra-wrap {
	/* border: 5px solid red;  */
	width: 63%;
	overflow:hidden;
	padding-top: 20px;
	padding-bottom: 20px;
}
p {
	margin-bottom:18px;
}
.p0 {
	margin-bottom:0px;
}
.p1 {
	font-size: 16px;
	margin-bottom:12px;
	text-align: justify;
}
.p2 {
	margin-bottom:15px;
}
.p3 {
	margin-bottom:30px;
}
.p4 {
	margin-bottom:40px;
}
.p5 {
	margin-bottom:50px;
}
.p6 {
	/* border: 3px solid blue; */
	width: 70%;
	min-width: 70%;
	margin-bottom:55px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text-galery{
	font-family: 'Candara', Courier, monospace;
	color: #498f06;
}
.p7 {
	/* border: 3px solid black; */
	width: 85%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.p8{
	/* border: 3px solid black; */
	width: 85%;
	height: 70px;
	line-height: 40px;
	font-size: 50px;
	font-weight: 600;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reg {
	text-transform:uppercase;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.it {
	font-style:italic;
}
.color-1 {
	color:#fff;
}
.color-2 {
	color:#000;
}
.color-3 {
	color:#7dba14;
}
.img-border{
	border: 0px;
}
.img-border img{
	border-radius: 5px;
}
.img-border img:hover{
	scale: 1.1;
}
.img-border2 {
	padding:10px;
	border:1px solid #949191;
	background:#dad8d8;
	border-radius:6px;
	margin-bottom: 30px;
	margin-top: 20px;
}
/*********************************boxes**********************************/
.indent-top {
	padding-top:20px;
}
/* .indent-left {
	padding-left:15px;
} */
.indent-left2 {
	padding: 0 10px;
	text-align: center;
}
.indent-right {
	padding-right:50px;
}
.indent-bot {
	margin-bottom:20px;
}
.indent-bot2 {
	margin-bottom:30px;
}
.indent-bot3 {
	margin-bottom:45px;
}
.prev-indent-bot {
	margin-bottom:10px;
}
.contact-txt{
	line-height: 20px;
	margin-bottom: 7px;
	font-size: 16px;
}
.margin-bot {
	margin-bottom:35px;
}
.img-indent {
	float:left;
	margin:0 20px 0px 0;
}
.img-indent2 {
	/* float:left; */
	margin:0 25px;
}
.img-indent2 img{
	width: 15vw;
}
.mainlogo{
	display: none;
}
/* .mainlogo_{
	display: none;
} */
.logoarbol{
	visibility: hidden;
	animation: visibilidad 5s 1 5s forwards;
}
@keyframes visibilidad {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
.logoarbol img {
	width: 23vw;
    position: absolute;
    right: 115px;
    bottom: 0;
    padding: 2px;
    transform-origin: bottom center;
    animation: crecer 5s 1 5s forwards;
	z-index: 100;
}
@keyframes crecer {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}
  
.mainlogomod{
	/* border: 1px solid blue; */
	display: initial;
	padding:10px;
	border:1px solid #c9c8c8;
	background:#dad8d8;
	border-radius:3px;
}
.mainlogomod img{
	width: 300px;
}
 /* Estilo base para la imagen */
 .imagen-agrandable {
	width: 75%;
	border-radius: 15px;
	transition: transform 0.3s ease; 
}
/* Al pasar el cursor sobre la imagen, agrándala */
.imagen-agrandable:hover {
	transform: scale(1.2); 
}
.img-indent-r {
	float:right;
	margin:0 0px 0px 40px;
}
.buttons a:hover {
	cursor:pointer;
}
.menu li a, .list-1 li a, .list-2 li a, .link, .button, h1 a {
	text-decoration:none;
}
/*********************************header*************************************/
header {
	width:100%;
	position:relative;
	z-index:2;
}
.row-bot {
	width:100%;
	padding-top: 80px;
	/* background:url(../images/row-bot-tail.gif) center top repeat; */
}
.row-bot-bg {
	/* border: 2px solid red; */
	width:100%;
	padding:0 0 55px;
	/* margin-bottom: 100px; */
	/* background:url(../images/row-bot-bg.jpg) center top no-repeat; */
}
.hide1, .hide2, .hide3, .hide4{
	display: none;
}
.buttonhidem{
	display: none;
}
.contact-wrapper{
	margin-top: 50px;
}
/* #page1 .row-bot-bg {
	padding:10px 0 50px;
} */
h1 {
	padding:49px 32px 0 10px;
	float:left;
}
h1 a {
	/* border: 1px solid red; */
	width:300px;
	height:160px;
	display:flex;
	justify-content: center;
	align-items: center;
	text-indent:-9999em;
	/* background:url(../images/logoFMV.svg) 0 0 no-repeat; */
}
h2 {
	font-size:40px;
	line-height:1.2em;
	color:#363333;
	padding:0 0 0 35px;
	margin-top:28px;
	background:url(../images/pic-1.gif) 0 0 repeat-y;
	overflow:hidden;
}
/***** menu *****/
.menu-row {
	width:100%;
	/* background:url(../images/menu-row.gif) center top repeat-x #000; */
	background-color: #0e9140;
	border-bottom:1px solid #015a1c;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.menu {
	padding-top: 11px;
	padding-bottom: 11px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu li {
	float:left;
	position:relative;
	/* padding-left:145px; */
}
.menu li a {
	display:inline-block;
	font-size:15px;
	font-weight: 700;
	line-height:2em;
	color:#ffffff;
	text-transform:uppercase;
}
.menu li a.active, .menu > li > a:hover {
	color:#44f77f;
}
/***** slider *****/
.slider-wrapper {
	/* border: 3px solid red; */
	padding:10px;
	margin: 0 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:url(../images/slider-bg.png) 0 0 no-repeat;
}
.slider, .slider1 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider1{
	overflow: hidden;
}
.items {
	/* width: 100%; */
	display: flex;
  	flex-wrap: nowrap; 
  	justify-content: center;
  	align-items: center;
}
.item{
	width: 100%;	
	flex: 0 0 auto; 	
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .item img {
	width: 100%;
	height: auto; 
  } */
/*********************************content*************************************/
#content {
	width:100%;
	padding:33px 0 50px;
	background:#fff;
	position:relative;
	z-index:1;
}
#page4 #content {
	background:url(../images/content-tail.gif) center top repeat-x #fff;
}
.spacer-1 {
	width:100%;
	background:url(../images/pic-1.gif) 217px 0 repeat-y;
}
h3 {
	font-size:24px;
	line-height:2em;
	margin-bottom:18px;
}
h6 {
	color:#000;
}
.border-bot {
	width:100%;
	padding-bottom:22px;
	background:url(../images/pic-2.gif) 0 bottom repeat-x;
}
.box {
	width:100%;
	background:0 0 repeat-x;
}
.button {
	/* border: 1px solid rgb(10, 33, 233); */
	padding:9px 20px 9px 20px;
	font-weight: 600;
	color:#fff;
	background:url(../images/button-tail.gif) 0 0 repeat-x #498f06;
	cursor:pointer;
	border-radius:6px;
	margin-bottom: 9px;
}
.button span {
	/* display:inline-block; */
	font-size:13px;
	line-height:1.23em;
	font-weight:bold;
	padding-left:14px;
	/* background:url(../images/marker-2.gif) 0 7px no-repeat; */
}
.button:hover {
	background:#498f06;
}
.list-1 li {
	line-height:18px;
	padding:6px 0 6px 15px;
	background:url(../images/marker-1.gif) 0 13px no-repeat;
}
.list-1 li a {
	display:inline-block;
	color:#030303;
}
.list-1 li a:hover {
	color:#68ab0b;
	text-decoration:underline;
}
.list-2 li {
	font-size:14px;
	line-height:24px;
	padding:0px;
	/* background:url(../images/pic-1.gif) 0 bottom repeat-x; */
}
.list-2 li a {
	display:block;
	color:#1799cf;
	padding-left:12px;
	/* background:url(../images/marker-1.gif) 0 10px no-repeat; */
}
.list-2 li a:hover {
	color:#fff;
}
.list-2 .last-item {
	background:none;
}
.link {
	color:#030303;
}
.link:hover {
	text-decoration:underline;
}
.link-1 {
	display:inline-block;
	color:#fff;
	text-decoration:none;
}
.link-1:hover {
	color:#7dba14;
}
.link-2 {
	color:#030303;
	font-weight:bold;
}
.link-2:hover {
	text-decoration:none;
}
.text-1 {
	display:block;
	text-align: justify;
	font-size:16px;
	line-height:30px;
	color:#555353;
	padding: 0 35px 0 10px;
	background:url(../images/pic-1.gif) 0 0 repeat-y;
}
.text-2 {
	display:block;
	font-size:24px;
	line-height:2em;
	color:#498f06;
}
.text-2 strong {
	display:block;
	margin-top:-18px;
}
dl span {
	float:left;
	width:96px;
	font-weight:bold
}
.leyenda{
	/* border: 1px solid red; */
	/* font-size: 50px;
	text-align: center; */
	font-family: 'Candara', monospace;
    font-size: 48px;
	color:#498f06;
    overflow: hidden; /* Oculta el desbordamiento del texto */
    /* white-space: nowrap; 
    border-right: 2px solid #000;  */
}
/*********************************aside*************************************/
aside {
	width:100%;
	padding:34px 0 60px;
}
/***** carousel *****/
.carousel {
	position:relative;
	overflow:hidden;
	width:1060px;
	min-height:220px;
	margin:0 auto;
}
.carousel-container {
	width:942px;
	margin:0 auto;
}
.carousel img {
	/* Ajusta los estilos de las imágenes */
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto */
}
.jCarouselLite {
	width:100% !important;
	border-radius: 10px;
}
.carousel .prev, .carousel .next {
	display:block;
	width:55px;
	height:55px;
	text-indent:-9999em;
	cursor:pointer;
	position:absolute;
	top:126px;
	z-index:99;
}
.carousel .prev {
	left:0;
	background:url(../images/carousel-prev.svg) 0 0 no-repeat;
}
.carousel .next {
	right:0;
	background:url(../images/carousel-next.svg) 0 0 no-repeat;
}
.carousel .next:hover, .carousel .prev:hover {
	cursor:pointer;
}
.carousel-list li {
	width:235px;
	height:169px;
	/* margin-right:18px; */

}
.img-border {
	padding:11px;
	/* background:url(../images/img-border.png) 0 0 no-repeat; */
}
/* -- gallery  begin --*/
#gallery {
	width:1060px;
	height:882px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#js {
	position:relative;
	width:940px;
	margin:0 auto;
	font-size:14px;
	line-height:25px;
}
div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	width: 410px;
	height: 340px;
	overflow: hidden;
}
div.content img {
	position: relative;
	z-index: 2;
}
/* div.content a, div.navigation a {
}
div.content a:focus, div.content a:hover, div.content a:active {
} */
div.controls {
	position:relative;
}
div.controls a {
	padding: 0px;
}
div.ss-controls {
	float: left;
	display:none;
}
div.nav-controls {
	width:100%;
	height:27px;
	position:absolute;
	left:0;
	bottom:56px;
}
div.nav-controls a.prev {
	display:block;
	width:39px;
	height:39px;
	background:url(../images/carousel-prev.png) 0 0 no-repeat;
	text-indent:-9999em;
	cursor:pointer;
	position:absolute;
	top:-583px;
	left:0;
	z-index:99;
}
div.nav-controls a.next {
	display:block;
	width:39px;
	height:39px;
	background:url(../images/carousel-next.png) 0 0 no-repeat;
	text-indent:-9999em;
	cursor:pointer;
	position:absolute;
	top:-583px;
	right:0;
	z-index:99;
}
div.nav-controls a.prev:hover, div.nav-controls a.next:hover {
	cursor:pointer;
}
div.slideshow-container {
	position: relative;
	height: 370px; /* This should be set to be at least the height of the largest image in the slideshow */
	z-index:1;
	width:940px;
	margin:0 auto;
}
/* div.slideshow {
} */
div.caption {
	width:100%;
	height:100%;
}
div.slideshow span.image-wrapper {
	display: block;
	/* width: 920px;
	height: 347px; */
	background:url(../images/img-border2.jpg) 0 0 no-repeat;
	position:absolute;
	left:0;
	top:0;
	margin:0;
	padding:11px;
}
div.slideshow a.advance-link {
	display: block;
	margin: 0;
	font-size:0;
	line-height:0;
	text-decoration:none;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.download {
	float: right;
}
div.caption-container {
	float:right;
	width: 270px;
	height: 620px;
	position:relative;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	z-index:10;
	background:#fff;
}
div#thumbs {
	padding: 0;
	margin:0 auto 111px;
	width:940px;
}
ul.thumbs {
	padding: 0 0 0 0;
	width:100%;
	overflow:hidden;
	position:relative;
}
ul.thumbs li {
	float:left;
	margin-right:17px;
	margin-bottom:18px;
	width:200px;
	height:137px;
	padding:11px;
	background:url(../images/img-border.png) 0 0 no-repeat;
}
ul.thumbs li.last {
	margin-right:0;
}
ul.thumbs li.last2 {
	margin-bottom:0;
}
ul.thumbs li.last3 {
	margin:0;
}
ul.thumbs li span {
	display:block;
	font-size:15px;
	line-height:1.2em;
	color:#f9f9f9;
	text-transform:uppercase;
	font-weight:bold;
}
a.thumb {
	display:block;
}
a.thumb:focus {
	outline: none;
}
#controls {
	width:100%;
}
div.pagination {
	clear: both;
	text-align:center;
	position:relative;
	z-index:10;
}
div.top.pagination {
	display:none;
}
div.navigation div.bottom {
	display:none;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	padding:0 4px;
	font-weight:bold;
	color:#fff;
}
div.pagination a:hover {
	text-decoration: none;
	color:#ffeaa8;
}
div.pagination span.current {
	color:#ffeaa8;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
/* -- gallery end --*/

/***** contact form *****/
#contact-form {
	display:block;
	width:100%;
}
#contact-form label {
	display:block;
	height:40px;
	overflow:hidden;
}
#contact-form input {
	float:left;
	width:265px;
	font-size:12px;
	line-height:1.25em;
	color:#030303;
	padding:8px 10px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ebebeb;
	background:#fff;
	outline:none;
}
#contact-form textarea {
	float:left;
	height:196px;
	width:505px;
	font-size:12px;
	line-height:1.25em;
	color:#030303;
	padding:5px 10px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ebebeb;
	background:#fff;
	overflow:auto;
	outline:none;
}
.text-form {
	float:left;
	display:block;
	font-size:13px;
	line-height:32px;
	width:93px;
	color:#030303;
	font-family:Arial, Helvetica, sans-serif;
}
.buttons {
	padding:8px 0 0 0;
	text-align:right;
}
.buttons a {
	margin-left:6px;
}
#scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
	opacity: .5;
}
#scroll-to-top:hover{
	opacity: 1;
}
#scroll-to-top img {
    width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
}
#scroll-to-bottom {
    position: fixed;
    top: 60px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
	opacity: .5;
}
#scroll-to-bottom:hover{
	opacity: 1;
}
#scroll-to-bottom img {
    width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
}
/****************************footer************************/
footer {
	/* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
	margin-top: 50px;
    padding: 10px 0;
}
.list-services {
	padding:0;
}
.list-services li {
	float:left;
	padding:0 0 0 10px;
}
.hide_ .prev-indent-bot{
	display: none;
}
.hide_ .list-1{
	display: none;
}
div .who{
	/* border: 3px solid black; */
	display: flex; 
	justify-content: center; 
	align-items: center;
	flex-direction: row;
}
.who_ {
	/* border: 1px solid blue; */
	width: 35%;
	height: 400px;
	padding: 10px;
	display: flex;
	justify-content: center;
}
/* ************** MEDIA QUERYS ************** */
@media (max-width: 1200px){
	.p6{
		min-width: 77%;
		/* border: 1px solid red; */
	}
}
@media (max-width: 1100px){
	.p6{
		min-width: 85%;
		/* border: 1px solid red; */
	}
}
@media (max-width: 900px){
	.fmv{
		display: none;
	}
	.principal{
		width: 90%;
	}
    .menu-row {
		display: none;
		background:none;
	}
	.row-bot {
		padding-top: 0;
		margin-top: 0;
		background:none;
	}
	.row-bot-bg {
		/* border: 2px solid red; */
		width:100%;
		margin-bottom: 120px;
	}
	.row-bot-bg_mobile{
		/* border: 2px solid blue; */
		margin: 0;
		padding: 20px 0;
	}
	.img-indent2 {
		display: none;
	}
	.mainlogo{
		display: initial;
		/* border: 1px solid rgb(216, 215, 215); */
		margin-left: 30px;
		margin-top: 20px;
		padding:10px;
		border:1px solid #c9c8c8;
		background:#dad8d8;
		border-radius:3px;
	}
	.mainlogo_{
		display: initial;
		border:1px solid #adacac;
		background:#dad8d8;
		/* border-radius:6px; */
	}
	.mainlogo img{
		width: 80vw;
	}
	.mainlogomod{
		display: none;
	}
	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #333;
		color: white;
		text-align: center;
		/* margin-top: 250px; */
		padding: 10px 0;
		z-index: 1000;
	}
	h1 a {
		display: none;
	}
	h2{
		background:none;
	}
	.button-wrapper{
		/* border: 1px solid red; */
		margin-bottom: 65px;
	}
	.buttons{
		width: 90%;
	}
	.buttonhidem{
		display: initial;
	}
	.p6{
		/* border: 2px solid red; */
		width: 93%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin-bottom: 20px;
		padding-right: 35px;
	}
	.p7{
		/* border: 2px solid black; */
		width: 100%;
		margin: 0;
	}
	.leyenda{
		color: #498f06;
		font-size: 8vw;
	}
	.text-1 {
		font-size: 2.6vw;
		padding:15px 12px;
		text-align: justify;
		background:none;
	}
	.button {
		/* border: 1px solid rgb(10, 33, 233); */
		padding:9px 12px 9px 12px;
	}
	.p0{
		font-size: 12px;
	}
	.p8{
		font-size: 6.5vw;
		/* line-height: 30px; */
		/* height: 85px; */
		padding-left: 30px;
	}
	#page4 #content {
		background:none;
	}
	.spacer-1 {
		width:100%;
		background:none;
	}
	.border-bot {
		background:none;
	}
	.slider-wrapper {
		padding:2px;
		width: 95%;
	}
	/* .slider1 {
		width: 100%;
		display: flex;
		overflow: hidden; 
	} */
	.logoarbol img {
		width: 24vw;
		position: absolute;
		right: 75px;
		bottom: 0;
		padding: 2px;
		transform-origin: bottom center;
		animation: crecer 5s 1 5s forwards;
		z-index: 100;
	}
	@keyframes crecer {
		0% {
			transform: scaleY(0);
		}
		100% {
			transform: scaleY(1);
		}
	}
	.items {
		display: flex;
		flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
		justify-content: center;
		align-items: center;
	}
	.item {
		flex: 0 0 auto; /* Asegura que los elementos no se redimensionen automáticamente */
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.item img {
		width: 100%;
		height: auto; /* Asegura que las imágenes mantengan su proporción */
	}
	.contacto{
		margin-bottom: 100px;
	}
	.principalimg, .principal_{
		width: 100%;
	}
	.contact-txt{
		line-height: 20px;
		margin-bottom: 7px;
		font-size: 14px;
	}
	.extra-wrap {
		/* border: 5px solid red;  */
		width: 100%;
		padding: 0 4px;
		margin: 0;
	}
	#scroll-to-top {
		position: fixed;
		bottom: 50px;
		right: 27px;
		cursor: pointer;
		z-index: 9999;
		opacity: .7;
	}
	#scroll-to-top img {
		width: 25px; /* Ajusta el tamaño de la imagen según tus necesidades */
	}
	#scroll-to-bottom {
		position: fixed;
		top: 38px;
		right: 27px;
		cursor: pointer;
		z-index: 9999;
		opacity: .7;
	}
	#scroll-to-bottom img {
		width: 25px; /* Ajusta el tamaño de la imagen según tus necesidades */
	}
	.image-container{
		display: initial;
	}
	.buttonhide{
		display: none;
	}
	div .who{
		/* border: 3px solid black; */
		display: flex; 
		justify-content: center; 
		align-items: center;
		flex-direction: column;
		margin-bottom: 25px;
	}
	.who_ {
		/* border: 1px solid blue; */
		width: 100%;
		height: auto;
		/* padding: 10px; */
		display: flex;
		justify-content: center;
	}
	.p1 {
		font-size: 15.5px;
		margin-bottom:12px;
		text-align: justify;
	}
	/* .logoarbol{
		display: none;
	} */
	/* .hide1, .hide2, .hide3{
		display: initial;
	} */
	.hide_ .prev-indent-bot{
		display: initial;
	}
	.hide_ .list-1{
		display: initial;
	}
@media (max-width: 540px){
	.text-1 {
		font-size: 4vw;
		padding:15px 12px;
		text-align: justify;
		background:none;
	}
	
}

}